<div class="card card-plain">
  <div class="card-header">
    <div class="row gx-4 mb-2 align-items-center">
      <div class="col-8 my-auto">
        <div class="h-100">
          <h5 class="mb-1">{{ course.course_title }}</h5>
          <p class="mb-0 font-weight-normal text-sm">
            {{ course.course_description }}
          </p>
        </div>
      </div>
      <div
        class="col-4 ms-auto d-flex align-items-center justify-content-end"
      ></div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row gx-3 my-1">
      <div class="col-md-8">
        <div class="row gx-0 mb-2">
          <div class="card">
            <div class="card-header pb-0">
              <h5>Course Information</h5>
            </div>
            <hr class="bg-dark horizontal my-0 opacity-10" />
            <div class="card-body p0">
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Course ID:</strong> &nbsp; {{ course.course_id }}
                </li>

                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Teacher ID:</strong> &nbsp; {{ course.teacher_id }}
                </li>

                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Start Date:</strong> &nbsp; {{ course.start_date }}
                </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>End Date:</strong> &nbsp; {{ course.end_date }}
                </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Start Time:</strong> &nbsp; {{ course.start_time }}
                </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>End Time:</strong> &nbsp; {{ course.end_time }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% if course.files %}
        <div class="row gx-0 mb-2">
          <div class="">
            <div class="card-header pb-0">
              <h5>Files</h5>
            </div>

            <div class="card-body d-flex flex-wrap p-2 px-0 pt-0">
              {% for f in course.files %}
              <li
                data-url="{{ f.file.file_url }}"
                class="card w-md-15 height-100 p-2 ms-2 my-2 position-relative cursor-pointer file-card"
              >
                <div class="body h-100 d-grid align-items-end">
                  <div class="d-grid">
                    <span class="file-ext">{{ f.file.extension }}</span
                    ><span class="text-xs file-size"
                      >{{ f.file.human_size }}</span
                    >
                  </div>
                </div>
              </li>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="col-md-4">
        <div class="row mb-1">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">Enrollments</p>
                    <h4 class="mb-0">{{ course.enrollments.__len__()}}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">school</i>
                  </div>
                </div>
              </div>
              <hr class="bg-dark horizontal my-0 opacity-10" />
              <div class="card-footer p-2 ps-3 mb-2">
                <div class="d-flex flex-wrap align-items-center">
                  <span
                    class="badge badge-xs bg-gradient-secondary text-xxs me-2 my-1"
                  >
                    Active
                    <span class="text-sm"
                      >{{ course.active_enrollments_count}}</span
                    >
                  </span>
                  <span
                    class="badge badge-sm bg-gradient-secondary text-xxs me-2 my-1"
                  >
                    Close
                    <span class="text-sm"
                      >{{ course.closed_enrollments_count }}</span
                    >
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">Monthly Fee</p>
                    <h4 class="mb-0">{{ course.display_monthly_fee }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">payment</i>
                  </div>
                </div>
              </div>
              <hr class="bg-dark horizontal my-0 opacity-10" />
              <div class="card-footer p-2 ps-3 mb-2 pb-0">
                <div class="d-flex flex-wrap align-items-center">
                  <span class="text-sm"
                    >Monthly Earnings:
                    <strong>{{ course.display_monthly_earnings }}</strong></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-3 my-1">
      <div class="col-md-12">
        {% with e = course.enrollments %} {% if e %}
        <div class="row gx-0 mb-2 mt-5">
          <div class="card">
            <div
              class="bg-gradient-dark card-header mt-n4 mx-3 position-relative z-index-2 shadow-sm rounded-3 py-4"
            >
              <h5 class="mb-0 mx-2">Student's Enrollments</h5>
            </div>

            <div class="card-body">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0 table-hover">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        ID
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Student
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Status
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Date
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Monthly Fee
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for e in course.enrollments %}
                    <tr>
                      <td>
                        <span class="text-sm">{{ e.student.student_id }}</span>
                      </td>
                      <td>
                        <div class="d-flex px-0 py-1">
                          <div>
                            <img
                              src="{{ e.student.avatar_path }}"
                              class="avatar avatar-sm me-3 border-radius-lg"
                              alt="user1"
                            />
                          </div>
                          <div
                            class="d-flex flex-column justify-content-center"
                          >
                            <h6 class="mb-0 text-sm">
                              {{ e.student.full_name }}
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              {{ e.student.email }}
                            </p>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        {% if e.display_status == "ACTIVE" %}
                        <span class="badge badge-sm bg-gradient-success"
                          >Active</span
                        >
                        {% elif e.display_status== "CLOSED" %}
                        <span class="badge badge-sm bg-gradient-danger"
                          >CLOSED</span
                        >
                        {% endif %}
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >{{ e.display_enrollment_date }}</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >{{ e.display_monthly_fee }}</span
                        >
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% endif %} {% endwith %}
      </div>
    </div>
  </div>

  <div class="card-footer"></div>
</div>
