{% with student = enrollment.student %} {% with course = enrollment.course %} {%
with teacher = course.teacher %}

<div class="card card-plain">
  <div class="card-header">
    <div class="row gx-4 mb-2 align-items-center">
      <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
          <img
            src="{{ student.avatar_src }}"
            alt="profile_image"
            class="w-100 border-radius-lg shadow-sm"
          />
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">
            {{ student.full_name }}
          </h5>
          <p class="mb-0 font-weight-normal text-sm">{{ student.email }}</p>
        </div>
      </div>
      <div class="col-auto ms-auto d-flex align-items-center"></div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row gx-3">
      <div class="col-md-8">
        <div class="row gx-0 mb-3">
          <div class="card">
            <div class="card-header pb-0">
              <h5>Enrollment Information</h5>
            </div>
            <hr class="bg-dark horizontal my-0 opacity-10" />
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Enrollment ID:</strong> &nbsp; {{
                  enrollment.enrollment_id }}
                </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Student ID:</strong> &nbsp; {{
                  enrollment.student_id }}
                </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Course ID:</strong> &nbsp; {{
                  enrollment.course_id }}
                </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Enrollment Date:</strong> &nbsp; {{
                  enrollment.display_enrollment_date }}
                </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Discount Rate:</strong> &nbsp; {{
                  enrollment.display_discount_rate }}
                </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                  <strong>Status:</strong> &nbsp;
                  <span
                    class="badge badge-sm bg-gradient-{{ 'success' if enrollment.display_status == 'ACTIVE' else 'danger' }}"
                    >{{ enrollment.display_status }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">Monthly Fee</p>
                    <h4 class="mb-0 text-xl">
                      {{enrollment.display_monthly_fee}}
                    </h4>
                    <h3
                      class="mb-0 opacity-3 text-decoration-line-through text-md mt-n1"
                    >
                      {{ course.display_monthly_fee }}
                    </h3>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">payment</i>
                  </div>
                </div>
              </div>
              <hr class="bg-dark horizontal my-0 opacity-10" />
              <div class="card-footer p-2 ps-3 mb-2 pb-0">
                <div class="d-flex flex-wrap align-items-center">
                  <span class="text-sm"
                    >Monthly Discount:
                    <strong>
                      {{ enrollment.display_monthly_discount }}
                    </strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">Total Payments</p>
                    <h4 class="mb-0 text-xl">
                      {{ enrollment.display_total_payments }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">attach_money</i>
                  </div>
                </div>
              </div>
              <hr class="bg-dark horizontal my-0 opacity-10" />
              <div class="card-footer p-2 ps-3 mb-2 pb-0">
                <div class="d-flex flex-wrap align-items-center">
                  {% if enrollment.is_paid_this_month %}
                  <span class="text-sm">Current month's fee has been <b>paid</b>.</span>
                  {% else %}
                  <span class="text-sm">Current month's fee <b>not yet paid</b></span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-3 my-1">
      <div class="col-md-12">
        {% with payments = enrollment.payments %}
        <div class="row gx-0 mb-2 mt-5">
          <div class="card">
            <div
              class="bg-gradient-dark card-header mt-n4 mx-3 position-relative z-index-2 shadow-sm rounded-3 py-4"
            >
              <h5 class="mb-0 mx-2">Payments</h5>
            </div>

            <div class="card-body">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0 table-hover">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
                      >
                        ID
                      </th>
                      <th
                        class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Amount
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Date
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Month
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in payments %}
                    <tr>
                      <td class="text-center">
                        <span class="text-sm">{{ p.payment_id }}</span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-secondary text-xs font-weight-bold"
                          >{{ p.display_amount }}</span
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >{{ p.display_payment_date }}</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >{{ p.display_month_for }}</span
                        >
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% endwith %}
      </div>
    </div>
  </div>

  <div class="card-footer"></div>
</div>
{% endwith %} {% endwith %} {% endwith %}
